<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKrbG-rCwAVrRkDZo9SHD_igCbuVw4NEU</string>
	<key>GCM_SENDER_ID</key>
	<string>197827870749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>csu.BizBoard</string>
	<key>PROJECT_ID</key>
	<string>bizboard-5637c</string>
	<key>STORAGE_BUCKET</key>
	<string>bizboard-5637c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197827870749:ios:8a550b7e90dda829cd86f4</string>
</dict>
</plist>